@import '@styles/mixins';

.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
  max-width: 616px;
  margin: 0 auto;
}

@include breakpoint('medium') {
  .grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}
