.spacer {
  width: 100%;
}

.spacer-xs {
  height: 0.5rem;
}

.spacer-sm {
  height: 1rem;
}

.spacer-md {
  height: 1.5rem;
}

.spacer-base {
  height: 2rem;
}

.spacer-lg {
  height: 2.5rem;
}

.spacer-xl {
  height: 3rem;
}

.spacer-2xl {
  height: 3.5rem;
}

.spacer-3xl {
  height: 4rem;
}
